* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Botão principal */
.buttonStyle {
  background-color: #0372b1;
  color: white;
  border-radius: 6px;
  border: 1px solid #0372b1;
  height: 35px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
}

.containerTool {
  display: grid;
  row-gap: 1em;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid #0371b17c;
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 5px 5px #0372b1;
}

/* Responsividade do menuTool */
@media (max-width: 865px) {
  .containerTool {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 630px) {
  .containerTool {
    grid-template-columns: repeat(4, 1fr);
  }
}

.active {
  background-color: #0372b1 !important;
  color: white;
}

.btnTool {
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.buttonStyle:hover {
  box-shadow: 1px 1px 5px #0372b1;
}

/* Inputs */
.inputStyle {
  text-indent: 5px;
  height: 35px;
  border-radius: 6px 6px 0px 0px;
  outline: none;
  border: none;
  border-bottom: 2px solid #0371b17c;
  background-color: #f4f4f4;
  transition: 0.4s;
  width: 100%;
}

.inputStyle:focus {
  border-bottom: 4px solid #0372b1;
}

a {
  color: #0372b1;
  text-decoration: none;
  font-weight: bold;
}

/* Mensagens */
.msgSuccess {
  color: green;
  font-weight: bold;
}

.msgError {
  color: red;
}

/* sidebar */
.logoAside {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.logoAside img {
  height: 90px;
}

.line {
  height: 2px;
  width: 100%;
  display: flex;
  background-color: #0372b1;
}

.liSideBar {
  list-style: none;
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.liSideBar:hover {
  border-bottom: 1px solid #0372b1;
  color: #0372b1;
}

.listPage {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.listPage svg {
  font-size: 1.6vw;
  cursor: pointer;
  color: #0372b1;
}

aside {
  width: 250px;
  text-align: center;
  background-color: #e6ebf7;
  padding: 1vw 0;
  display: flex;
  gap: 1vw;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: -10vw;
  background-color: white;
  z-index: 999;
  border-radius: 10px;
  padding: 1vw;
}

.optionDrop {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1vw;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid #0371b17c;
}

.optionDrop:hover {
  border-radius: 1vw;
  background-color: #0371b17c;
  color: white;
}

/* Home */
.containerHome {
  display: flex;
  height: 100vh;
}

.ProseMirror {
  min-height: 300px;
  outline: none;
  padding: 1rem;
}

.ProseMirror img {
  height: 150px;
  border-radius: 5px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0372b1;
  gap: 1vw;
}

.localBtn {
  width: 50%;
}

.status {
  position: absolute;
  left: 10px;
}

@media (max-width: 480px) {
  .status {
    top: 10px;
    right: 10px !important;
    left: auto !important;
  }
}

#d_pdf {
  color: rgba(255, 0, 0, 0.726);
}
